footer {
    height: 75px;
    background-color: var(--primary-bg);
}

footer h3 {
    padding: 2rem;
    text-align: center;
    color: var(--font-color);
    font-size: 0.87rem;   
}

@media (max-width: 768px) {
    footer h3 {
        padding: 1rem;
        font-size: 0.80rem;
    }
}