.principal {
    height: 90vh;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 2rem; 
    padding: 1rem;
}

.produtos {
    max-height: 80vh;
    overflow: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 2; 
    gap: 1rem;
    background-color: var(--font-color); 
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    box-sizing: border-box;
    max-height: 80vh;
    overflow-y: auto; 
    overflow-x: hidden;
}

.produto {
    background-color: var(--primary-bg);
    width: calc(25% - 1rem);
    min-width: 150px;
    min-height: 250px; 
    padding: 0.5rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: var(--font-color);
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

.produto h3 {
    font-size: 0.90rem;
    font-weight: 400;
}

.produto h4 {
    font-size: 0.70rem;
    font-weight: 700;
}

.produto-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    object-fit: cover; 
}

.produto-descricao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding-top: 1rem;
}

.cadastrar {
    display: flex;
    flex-direction: column;
    height: 50%;
    text-align: center;
    flex: 1; 
    gap: 1rem;
    background-color: var(--font-color); 
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.cadastrar form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.cadastrar input {
    width: 20rem;
    height: 2rem;
    border: 2px solid var(--secondary-bg);
    border-radius: 10px;
    padding-left: 0.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20.5rem;
}
           
.btn-guardar {
    border: 1px solid var(--secondary-bg);
    width: 47%;
    height: 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-guardar:hover {
    background-color: var(--secondary-bg);
    color: var(--font-color);
   
}

.btn-limpar {
    border: 1px solid var(--secondary-bg);
    width: 47%;
    height: 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-limpar:hover {
    background-color: var(--secondary-bg);
    color: var(--font-color);
}

.sobre-projeto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 10rem;
}

.sobre-projeto h2, h3 {
    text-align: center;
}

.sobre-projeto ul {
    list-style-type: circle;
}

@media (max-width: 768px) {
    .principal {
        flex-direction: column-reverse;
    }
    
    .produtos {
        max-height: 80vh;
        width: 88%;
        overflow: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex: 1; 
        gap: 1rem;
        background-color: var(--font-color); 
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
    
    .produto {
        background-color: var(--primary-bg);
        width: calc(50% - 1rem);
        min-width: 150px;
        min-height: 250px; 
        padding: 0.5rem;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        color: var(--font-color);
        display: flex;
        flex-direction: column; 
        justify-content: space-between; 
    }
       
    .cadastrar {
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 88%;
        text-align: center;
        flex: 1; 
        gap: 1rem;
        background-color: var(--font-color); 
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
    
    .cadastrar form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
    
    .cadastrar input {
        width: 15rem;
        height: 2rem;
        border: 2px solid var(--secondary-bg);
        border-radius: 10px;
        padding-left: 0.5rem;
    }
    
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 15.5rem;
        font-size: 0.87rem;
    }

    input[placeholder] {
        font-size: 0.87rem;
    }

}
